name: Update Image Readme

on:
  workflow_dispatch:
  schedule:
    # Runs at 1 UTC everyday
    - cron: "*/5 * * * *"

jobs:
  update-readme:
    name: Update Image README
    runs-on: ubuntu-latest
    steps:
      - uses: siddharth2016/update-readme-image@main
        with:
          #GH_TOKEN: ${{ secrets.GH_TOKEN }}     # Cần thiết nếu README repository không phải là repo của profile
          README_REPOSITORY: <username>/<differentrepo>  # Cần thiết nếu README repository không phải là repo hiện tại
          #IMG_PATH: <your-image-directory>        # Cần thiết nếu hình ảnh không nằm trong thư mục .github/images của image repository
          #IMG_REPOSITORY: <username>/<imagerepo>  # Cần thiết nếu hình ảnh không nằm trong repo hiện tại
          HEIGHT: auto       # mặc định
          WIDTH: auto        # mặc định
          ALIGN: center        # mặc định
          IMG_ALT: Profile Image      # mặc định
          COMMIT_MESSAGE: <your-commit-message>       # mặc định - Update Readme Image

